html, body {
    margin: 0; padding: 0; background-color: #ffffff; font-family: Tahoma, Sans-Serif;
    font-size: 12pt; overflow: auto;
}

div#map_canvas     { width: 100%; height: 100%; }

div#sidebar_canvas { position: absolute; top: 0px; right: 0px;
	box-sizing:border-box; width: 410px;
	background: #FFFFFF; padding: 0px 2px 2px 2px;
	border-bottom-left-radius: 5px; z-index: 99; overflow: auto; }

div#SpecialSquawkWarning { position: absolute; bottom: 25px; right: 0px; border: 2px solid red;
    background-color: #FFFFA3; opacity: 0.75; filter:alpha(opacity=75); padding: 5px;
    display: none; text-align: center; }

table#optionsTabs { width: 100%; font-size: small; font-family: monospace; background-color: #ddd;
    border: 1px; border-color: #000000;}

#tableinfo, #sudo_buttons { font-family: monospace; }

.vPosition  { font-weight: bold; background-color: #f5fff5; }
.squawk7500 { font-weight: bold; background-color: #ff5555; }
.squawk7600 { font-weight: bold; background-color: #00ffff; }
.squawk7700 { font-weight: bold; background-color: #ffff00; }
.selected   { background-color: #dddddd; }
.plane_table_row { cursor: pointer; }

#selectedinfotitle  { font-size: larger; }
#selectedinfo       { font-size: small; }
#selectedinfo a     { text-decoration: none; color: blue; font-size: x-small;}
#selectedinfo.dim   { opacity: 0.3; filter:alpha(opacity=30); /* For IE8 and earlier */ }

.pointer { cursor: pointer; }

