html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; font-size: small;}
a { color: blue; }

#map_canvas { 
    height: 100%;
    margin-right: 390px;
}

#info {
    position: absolute;
    width: 390px;
    height: 100%;
    bottom: 0px;
    right: 0px;
    top: 0px;
    background-color: white;
    border-left: 1px #666 solid;
    font-family: Helvetica, Sans-serif, Arial;
}

#info div {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

#info div h1 {
    margin-top: 10px;
    font-size: 16px;
}

#info div h2 {
    margin-top: 10px;
    font-size: 14px;
}

#info_settings {
    position:   absolute;
    display:    none;
}

#info_settings_area {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid gray;
}

#tabinfo{
    height: 400px;
    overflow-y: auto;
}

#tableinfo {
    font-size: x-small;
    font-family: monospace;
}

#tableinforow {
    cursor: pointer;

}

#tableinforow .bold {
    font-weight:bold;
}
