html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; }

#map_canvas {
    height: 100%;
}

#info {
    position: absolute;
    width: 300px;
    height: 100%;
    bottom: 0px;
    right: 0px;
    top: 0px;
    background-color: white;
    border-left: 1px #666 solid;
    font-family: Helvetica;
}

#info div {
    padding: 0px;
    padding-left: 10px;
    margin:0px;
}

#info div h1 {
    margin-top: 10px;
    font-size: 16px;
}

#info div p {
    font-size: 14px;
    color: #333;
}

#tableinfo {
    font-size: x-small;
    font-family: monospace;
}

#tabinfo {
    cursor: pointer;
}

